@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import "links";

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.hover-trigger {
    .hover-target,
    .dots {
        @apply opacity-0;
        transition: all 0.2s ease-out;
    }

    transition: all 0.2s ease-in-out;

    &:hover {
        @apply shadow-lg;

        .dots {
            @apply opacity-100;
        }

        .hover-target {
            @apply opacity-75;
        }
    }
}

.active {
    @apply text-primary-900;
}

.form-content .field {
    @apply mt-4;
}

.opacity-transition {
    transition: opacity 0.2s ease-in-out;
}

.item-blocks,
.table-overview {
    nav {
        @apply w-full text-center my-4;

        .pagination {
            .page-item {
                @apply inline-block px-2 py-1;
                &.active {
                    @apply bg-white shadow rounded;
                }
            }
        }
    }
}

.alert {
    @apply py-4 px-4 rounded font-bold relative mb-4;

    transform-origin: top;

    &.alert-block {
        @apply block;
    }

    &.alert-success {
        @apply bg-green-400 text-green-900;

        .close:hover {
            @apply text-green-800;
        }
    }

    &.alert-info {
        @apply bg-blue-400 text-blue-900;

        .close:hover {
            @apply text-blue-800;
        }
    }

    &.alert-warning {
        @apply bg-yellow-400 text-yellow-900;

        .close:hover {
            @apply text-yellow-800;
        }
    }

    &.alert-danger {
        @apply bg-red-400 text-red-900;

        .close:hover {
            @apply text-red-800;
        }
    }

    .close {
        @apply right-0 mr-4 absolute;

        transition: color 0.2s ease-in-out;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: all .5s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scaleY(0);
}
